MAIL_DOMAIN=testmail.b-1.pl
POSTFIX_HOSTNAME=mx.testmail.b-1.pl
REDIS_URL=redis://redis:6379/0
JOB_TTL=3600
RSPAMD_URL=http://rspamd:11333
RATE_LIMIT_REQUESTS=30
RATE_LIMIT_WINDOW=60
TRUSTED_PROXY_HOPS=1
